<div
  class="flex flex-col bg-background-color w-full h-screen overflow-y-hidden"
>
  <app-dashboard-header
    (menuSelectEmit)="onMenuSelect()"
  ></app-dashboard-header>
  <div class="flex flex-row bg-background-color">
    <app-slide-menu
      [isMenuSelect]="isMenuSelect"
      class="flex-none"
    ></app-slide-menu>
    <div
      class="container-dashboard boxShadow flex flex-col flex-1 overflow-auto"
    >
      <app-dashboard-content
        class="flex-1 w-full h-full custom-scroll"
      ></app-dashboard-content>
    </div>
  </div>
</div>
