<div
  class="flex items-center justify-between bg-background-color sticky top-0 h-16 p-4"
>
  <div class="userSelect flex items-center">
    <div
      class="h-9 cursor-pointer rounded-full p-2 hover:bg-background-hover-color"
      (click)="onMenuSelect()"
    >
      <menu-icon *ngIf="isMenuOpen" class="fill-icon-color"></menu-icon>
      <menu-open-icon
        *ngIf="!isMenuOpen"
        class="fill-icon-color"
      ></menu-open-icon>
    </div>
    <div class="h-10 flex rounded-full mx-4 overflow-hidden"></div>
    <p class="text-primary-text-color font-bold text-xl">Red Panda UI</p>
  </div>

  <div class="flex justify-end">
    <a
      class="h-9 cursor-pointer rounded-full p-2 hover:bg-background-hover-color"
      target="_blank"
      [routerLink]="helpVideoUrl"
    >
      <help-center-icon class="fill-icon-color"></help-center-icon>
    </a>
  </div>
</div>
